body {
  background-color: grey;
}


.my1text {
	color: blue; font-size: 25px;
	text-align: center;

}

.my2text {
	color: green; font-size: 25px;
	text-align: center;

}

.my3text {
	color: yellow; font-size: 25px;
	text-align: center;

}

.my4text {
	color: red; font-size: 25px;
	text-align: center;

}

.p1 {
  margin-left: : 150px;
  text-align: center;
  background: red;
}

.my_new_div {
	width: 20px; 
   margin: 20px; 
   float: right; 
   color: black;
}

.button {

	color:green;
	text-align: center;
	align: center;
	border-radius: 20px;

}